{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Products list {{title}}</p>


  <ul>
    {% for product in products %}
      <li>
        {%  include 'product-block.twig' with product %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
